In [1]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_feather('engineered_features.feather')

In [4]:
row_1396 = df[df['tmdb_id'] == 1396]
row_1396.head()

,tmdb_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_290,feature_291,feature_292,feature_293,feature_294,feature_295,feature_296,feature_297,feature_298,feature_299
876,1396,-0.50949,-0.232605,-0.246479,0.01668,0.02042,-0.002413,0.018395,-0.026003,-0.033126,...,-0.04048,0.027453,-0.005984,-0.032449,0.017989,-0.017706,-0.014556,0.026546,-0.003262,0.054362

In [ ]:

ratings_file_path = 'data/ratings.csv'
links_file_path = 'data/links.csv'

ratings = pd.read_csv(ratings_file_path)
links = pd.read_csv(links_file_path)

print(ratings.head())
print(links.head(20))

In [ ]:
merged_df = pd.merge(ratings, links, on='movieId', how='left')
print(merged_df.head())

In [ ]:
merged_df.drop(columns=['movieId', 'imdbId'], inplace=True)
print(merged_df.head())

In [ ]:
merged_df.rename(columns={'userId': 'user_id'}, inplace=True)
merged_df.rename(columns={'tmdbId': 'tmdb_id'}, inplace=True)
print(merged_df.head())

In [ ]:
# Define new column order
new_order = ['user_id', 'tmdb_id'] + [col for col in merged_df.columns if col not in ['user_id', 'tmdb_id']]

# Reorder the DataFrame
merged_df = merged_df[new_order]

print(merged_df.head())

In [ ]:
print(merged_df.shape)
merged_df = merged_df.dropna(subset=['tmdb_id'])
print(merged_df.head())
print(merged_df.shape)

In [ ]:
num_unique_users = merged_df['user_id'].nunique()
num_unique_tmdb = merged_df['tmdb_id'].nunique()

print(f"Number of unique user_id: {num_unique_users}")
print(f"Number of unique tmdb_id: {num_unique_tmdb}")

In [26]:
merged_df.to_csv('movielens_dataset.csv', index=False)

In [27]:
df= pd.read_csv('movielens_dataset.csv')
df.head()

   user_id  tmdb_id  rating  timestamp
0        1   4584.0     4.0  944249077
1        1    451.0     1.0  944250228
2        1    902.0     2.0  943230976
3        1  37557.0     5.0  944249077
4        1     63.0     5.0  943228858

In [29]:
df.shape

(31995478, 4)