In [1]:
import pandas as pd
import numpy as np

In [2]:
src = r"E:\1_RecSys\Recommender\data\content_based\v2\4_feature_matrix.pkl"
df = pd.read_pickle(src)

df.head()

,item_id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_190,feature_191,feature_192,feature_193,feature_194,feature_195,feature_196,feature_197,feature_198,feature_199
0,1,-0.477687,0.210335,0.304452,0.368086,-0.143367,0.279339,-0.362587,0.199930,0.240174,...,0.031763,0.030954,-0.027878,0.007602,-0.009420,0.037688,-0.052272,-0.002540,0.026545,0.011217
1,2,-0.233279,-0.492450,-0.586715,0.048579,0.106628,-0.241854,0.031091,0.258458,0.177908,...,0.018123,0.012002,-0.033471,-0.022263,-0.053503,0.021609,-0.024072,-0.001016,-0.007262,0.014916
2,3,-0.175368,-0.078446,-0.224669,-0.355586,-0.274505,0.447418,-0.013033,-0.000475,-0.376451,...,-0.023522,-0.014213,0.011518,0.029951,-0.020532,0.016424,0.018052,0.010749,-0.024735,0.018641
3,4,0.053624,0.646074,0.057940,-0.000759,0.353305,-0.020741,0.086672,-0.027168,0.042056,...,-0.006791,0.071917,-0.013628,0.017332,-0.007140,-0.041272,0.007098,-0.047514,-0.017896,0.046921
4,5,0.736658,0.284607,-0.100461,0.018139,-0.209682,-0.115626,0.008813,-0.009483,0.000892,...,0.078722,-0.068418,-0.020823,0.038097,0.011900,-0.012581,0.082005,0.033524,-0.027763,-0.005047